<!DOCTYPE html>
<html>
  <head>
<div class="contents row"><h1>トップページ</h1></div>
<% @posts.each do |post| %>
  <div class="contents row">
  <div class="post">
    <div class="post-date">
      投稿日時：<%= post.created_at %>
    </div>
    <div class="post-content">
      <%= post.content %>
    </div>
    <div class="post-stamp-image">
      <strong><%= link_to image_tag(post.stamp.image ), "/posts/#{post.stamp_id}" %></strong>
    </div>
    <span class="name">
        <a href="">
          <span>投稿者</span><%= post.user.nickname %>
        </a>
      </span>
    </div>
  </div>
<% end %>
</body>
</html>





